<p>Total de nomes: {{ nomes.length }}</p>

<ul>
  @for (
    nome of nomes;
    track $index;
    let indice = $index;
    let primeiro = $first;
    let ultimo = $last
  ) {
    <li>
      {{ indice + 1 }} - {{ nome }}
      @if (primeiro) {
        <span>Primeiro da lista</span>
      }
      @if (ultimo) {
        <span>Último da lista</span>
      }
    </li>
  } @empty {
    <li>Nenhum nome cadastrado</li>
  }
</ul>

<button (click)="removerUltimoNome()">Remover último nome</button>
<button (click)="limparLista()">Limpar lista</button>
<button (click)="restaurarLista()">Restaurar lista inicial</button>
